.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input {
    border: none;
    background: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
    border-bottom: 1px solid #323232;
    width: 100%;
}
.input-title {
    font-family: 'Source Sans 3', sans-serif;
    background: none;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
    border: none;
    border-bottom: 1px solid #323232;
    width: 100%;
}

.form-row {
    display: flex;
    align-items: center;
}
.form-lable {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
}
.invalid {
    border: 1px solid red;
    background-color: rgb(238, 142, 142);
}